body {
    background-color: #E0F2FF;
}

.title {
    background-color: #cecece;
    font-size: 36px;
    margin-bottom: 20px;
}

li {
    list-style-type: none;
    font-size: 18px;
}

.button__right-margin {
    margin-right: 10px;
}